# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/

# 编译输出
*.class
*.jar
*.war
*.ear

# 日志
*.log

# 其他
.git/
.gitignore
README*.md
docker-compose.yml
Dockerfile
.dockerignore
*.bat
*.sh
